/* Everything */

@font-face {
    font-family: roboto;
    src: url('res/roboto-regular.ttf');
}

* {
    font-family: roboto;
}

/* Everything */

/* Header */

#matter-display {
    border-bottom: black solid 2px;
    font-size: 1.8em;
    text-align: center;
}

#tabs {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
}

#tabs button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    height: 50px;
    margin: 0 5px;
    user-select: none;
}

#tabs button:not(.current-tab) {
    background-color: whitesmoke;
}

#tabs button:not(.current-tab):hover {
    background-color: rgb(223, 223, 223);
    transition: 0.15s;
}

.current-tab {
    background-color: rgb(248, 255, 106);
    border-color: rgb(157, 161, 67);
}

.current-tab:hover {
    background-color: rgb(231, 238, 104);
    border-color: rgb(122, 126, 52);
    transition: 0.15s;
}

/* Header */

/* Dimensions */

#buying-tip {
    font-size: 1.35em;
    margin-bottom: 15px;
    text-align: center;
}

#buy-max {
    margin-bottom: 15px;
    text-align: center;
}

#buy-max button {
    background-color: rgb(255, 239, 93);
    border-color: rgb(192, 180, 70);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    user-select: none;
    width: 20%;
}

#buy-max button:hover {
    background-color: rgb(255, 230, 0);
    border-color: rgb(168, 146, 23);
    transition: 0.15s;
}

.dimension {
    background-color: whitesmoke;
    border: black solid 2px;
    border-radius: 4px;
    display: flex;
    font-size: 1.2em;
    height: 30px;
    margin: 8px auto;
    width: 100%;
}

.dimension * {
    margin: auto;
    text-align: center;
}

.dimension-name {
    width: 25%;
}

.dimension-amount {
    width: 10%;
}

.dimension-prestige {
    color:rgb(158, 0, 150);
}

.dimension-mult {
    color: rgb(11, 0, 167);
    width: 20%;
}

.dimension-buy {
    width: 45%;
}

.dimension button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85em;
    min-width: 240px;
    user-select: none;
}

.dimension-buy-button:not(.dimension-can-buy) {
    background-color: rgb(240, 151, 151);
    border-color: rgb(167, 107, 107);
}

.dimension-buy-button:not(.dimension-can-buy):hover {
    background-color: rgb(238, 104, 104);
    border-color: rgb(156, 66, 66);
    transition: 0.15s;
}

.dimension-can-buy {
    background-color: rgb(136, 235, 132);
    border-color: rgb(112, 167, 107);
}

.dimension-can-buy:hover {
    background-color: rgb(91, 221, 74);
    border-color: rgb(69, 139, 51);
    transition: 0.15s;
}

.dimension-prestige-button {
    background-color: rgb(235, 132, 213);
    border-color: rgb(167, 107, 157);
}

.dimension-prestige-button:hover {
    background-color: rgb(221, 74, 201);
    border-color: rgb(139, 51, 135);
    transition: 0.15s;
}

/* Dimensions */

/* Options */

#options {
    text-align: center;
}

#options button {
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    height: 40px;
    margin: 0 5px;
    user-select: none;
}

#options button:hover {
    background-color: rgb(240, 240, 240);
    transition: 0.15s;
}

/* Options */

/* Black Holes */

#black-holes-display {
    text-align: center;
}

#compress {
    background-color: rgb(58, 58, 58);
    border-color: rgb(20, 20, 20);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    height: 30px;
    user-select: none;
}

#compress:hover {
    background-color: rgb(19, 19, 19);
    border-color: black;
    transition: 0.15s;
}

#black-hole-upgrades {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    height: 320px;
    margin: auto;
    width: 600px;
}

.black-hole-upgrade {
    background-color: rgb(60, 60, 60);
    border-color: rgb(20, 20, 20);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    height: 100px;
    user-select: none;
}

.black-hole-upgrade:hover {
    background-color: rgb(20, 20, 20);
    border-color: black;
    transition: 0.15s;
}

.black-hole-upgrade-bought {
    background-color: rgb(30, 30, 30);
    border-color: black;
    color: greenyellow;
}

/* Black Holes */